<header class="flex container items-center gap-2 border-b bg-background h-[60px]">
    <button
        class="inline-flex border-border md:hidden"
    >
        <i data-lucide="menu" class="size-6"></i>
    </button>
    <div class="pl-2 mr-auto text-xl font-semibold md:border-none md:pl-4">
        <h3>CLEON UI</h3>
    </div>
    <div class="ml-auto">
        <button type="button" class="hs-dark-mode-active:hidden block hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="dark">
          <span class="group inline-flex shrink-0 justify-center items-center size-9">
            <i data-lucide="moon" class="size-4"></i>
          </span>
        </button>
        <button type="button" class="hs-dark-mode-active:block hidden hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="light">
          <span class="group inline-flex shrink-0 justify-center items-center size-9">
            <i data-lucide="sun" class="size-4"></i>
          </span>
        </button>
    </div>
</header>
