<div id="application-sidebar" class="overlay [--auto-close:lg] overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform w-[260px] h-full hidden fixed inset-y-0 start-0 z-[60] bg-background border-e lg:block lg:translate-x-0 lg:end-auto lg:bottom-0" role="dialog" tabindex="-1" aria-label="Sidebar">
    <div class="relative flex flex-col h-full max-h-full">
        <div class="px-6 py-4">
            <!-- Logo -->
            <a class="flex items-center rounded-xl text-xl font-semibold focus:outline-none gap-3 focus:opacity-80" href="#" aria-label="Logo">
                <img src="assets/static/images/logo/favicon.png" class="size-8" alt="Logo">
                <span>CLEON UI</span>
            </a>
            <!-- End Logo -->
        </div>

        <!-- Sidebar Menu -->
        <div class="h-full overflow-hidden hover:overflow-y-auto">
            <nav class="accordion-group p-3 w-full flex flex-col flex-wrap" data-accordion-always-open>
                <ul class="flex flex-col space-y-1">
                {% for sidebarItem in sidebarItems %}
                    {% if sidebarItem.isTitle %}<li class="text-sm text-muted-foreground p-2">{{sidebarItem.name}}</li>{% endif %}
                    {% if sidebarItem.url %}
                        <li>
                            <a class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-foreground rounded-lg hover:bg-accent focus:outline-none focus:bg-accent" href="{{sidebarItem.url}}">
                                <i data-lucide="{{sidebarItem.icon}}" class="size-4"></i>
                                {{sidebarItem.name}}
                            </a>
                        </li>
                    {% else %}
                    {% if sidebarItem.submenu.length > 0 %}
                    <li class="accordion" id="{{sidebarItem.key}}">
                        <button type="button" class="accordion-toggle w-full text-start flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-foreground rounded-lg hover:bg-accent focus:outline-none focus:bg-accent" aria-expanded="true" aria-controls="account-accordion-child">
                            <i data-lucide="{{sidebarItem.icon}}" class="size-4"></i>
                            {{sidebarItem.name}}
                            <div class="accordion-active:rotate-90 ms-auto transition relative flex items-center justify-center w-2.5 h-2.5 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-muted-foreground rounded-full"></div>
                                <div class="accordion-active:rotate-90 transition absolute w-full h-0.5 ease duration-300 bg-muted-foreground rounded-full"></div>
                            </div>
                        </button>
                        {% if sidebarItem.submenu.length > 0 %}
                        <div id="{{sidebarItem.key}}" class="accordion-content w-full overflow-hidden transition-[height] duration-300 hidden" role="region" aria-labelledby="{{sidebarItem.key}}">
                            <ul class="ps-8 pt-1 space-y-1">
                                {% for sub in sidebarItem.submenu %}
                                <li>
                                    <a href="{{ sub.url }}" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-foreground rounded-lg hover:bg-accent focus:outline-none focus:bg-accent">
                                        {{sub.name}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}{% endif %}{% endfor %}
                </ul>
            </nav>
        </div>
        <!-- End Sidebar Menu -->
    </div>
</div>