<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ web_title }}</title>
        {% block stylesfirst %}{% endblock %}
        <link rel="stylesheet" href="assets/scss/app.scss" />
        <link
            rel="shortcut icon"
            href="assets/static/images/logo/favicon.svg"
            type="image/x-icon"
        />
        <link rel="shortcut icon" href="assets/static/images/logo/favicon.png" type="image/png" />
        {% block styles %}{% endblock %}
    </head>

    <body class="antialiased bg-background text-foreground">

    <!-- Header -->
    {% include "../partials/header.html" %}
    <!-- End Header -->

    <!-- Breadcrumbs -->
    {% include "../partials/breadcrumbs.html" %}
    <!-- End Breadcrumbs -->

    <!-- Sidebar -->
    {% include "../partials/sidebar.html" %}
    <!-- End Sidebar -->

    <!-- Page Content-->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
            {% block content %}{% endblock %}
        </div>
        <!-- Footer -->
        {% include '../partials/footer.html' %}
        <!-- End Footer -->
    </div>
    <!-- End Page Content-->

    <!-- Main Scripts -->
    {% if isDev %}
    <script src="assets/js/app.ts" type="module"></script>
    {% else %}
    <script src="assets/compiled/js/app.js"></script>
    {% endif %}
    <!-- End Main Scripts -->

    <!-- Plugins JS -->
    {% block js %}{% endblock %}
    <!-- End Plugins JS -->
    </body>
</html>
